{#
/**
 * @file
 * Display a page controller template.
 */
#}
<h2>{{ 'USAID Universal LINKS footer for'|t }}  {{ config_name }}</h2>

<hr>

<h3>{{ 'Overview'|t }}</h3>
{% trans %}
  <p>
    The module implements a custom block with the universal "LINKS sites" footer links.
    The config UI allows for two options, a "dark" theme and a "light" theme as pictured below.
  </p>
{% endtrans %}

<figure>
  <img src="/{{ path }}/admin/images/screencap-dark-theme.png" alt="{{ 'Links sites dark theme'|t }}" width="960"
       height="370">
  <figcaption>
    {% trans %}
      Above, the "dark" theme.
    {% endtrans %}
  </figcaption>
</figure>

<figure>
  <img src="/{{ path }}/admin/images/screencap-light-theme.png" alt="{{ 'Links sites light theme'|t }}" width="960"
       height="370">
  <figcaption>
    {% trans %}
      Above, the "light" theme.
    {% endtrans %}
  </figcaption>
</figure>
<hr>

<h3>{{ 'Getting Started'|t }}</h3>

{% trans %}
  <p>
    This module can be used in a few different ways. The way in which you use this will depend on how your theme is
    built. The list below outlines various methods to implement this.
  </p>
{% endtrans %}

{% trans %}
  <ol>
    <li>Use the <a href="/admin/structure/block">Drupal blocks Admin UI</a>
      to place your block in an appropriate region within your theme.
    </li>

    <li>
      You can use the <a href="https://www.drupal.org/project/twig_tweak" target="_blank" rel="noopener">Drupal Twig
        Tweak module</a> to place this block in a standard Drupal template.
      As an example, you could do this using the code:
      <code>
        <pre>&#123;&#123;drupal_block('usaid_link_sites') }}&#125;&#125;</pre>
      </code>
    </li>

    <li>
      If your site theme uses Pattern Lab you may need to render this custom block within a pattern lab template.
      Ideally you could do this also using Twig Tweak as per the example above.
    </li>

  </ol>

{% endtrans %}

<hr>

<h3>{{ 'Settings'|t }}</h3>

{% trans %}
  <p>
    To choose the light or dark theme for your site, there is an admin settings page.
    There is also an experimental setting that enables this block to be edge to edge
    width even within a max-width container.
  </p>

  <p>
    <a href="/admin/config/usaid-link-sites/settings">Visit the settings page</a>
  </p>
{% endtrans %}

<hr>

<h3>{{ 'A note about font size'|t }}</h3>

{% trans %}
  <p>
    The tagline text under each logo in all cases except for Learning Lab should not
    be more than 2 lines. If you find that this is not the case because of your global
    font-size, you may need to do a CSS override in your site's theme. The CSS
    for this would be:
  </p>
{% endtrans %}

  <blockquote>
    .uls-partner__text p {<br>
    font-size: __ ({{ 'your override font-size here.'|t }})<br>
    }<br>
  </blockquote>

<hr>

<h3>{{ 'Getting additional help'|t }}</h3>
{% trans %}
  <p>
    If you need additional help, please contact <a href="mailto:rachel.plett@bixal.com">Rachel Plett</a> at Bixal Solutions Inc.
  </p>
{% endtrans %}

<hr>

<h3>{{ 'Repository'|t }}</h3>
{% trans %}
  <p>
    This project is on Gitlab. If you'd like to open a merge request or file an issue, please visit
    <a href="https://gitlab.com/kdlt/usaid-links-component" target="_blank" rel="noopener">https://gitlab.com/kdlt/usaid-links-component</a>
  </p>
{% endtrans %}


