{#
/**
 * @file
 * Override to display a block.
 * @see template_preprocess_block()
 */
#}

  {# Only render the markup if the style has been set. #}
{% if config_style | render %}

  {# Set the style class from the admin config settings form. #}
  {% set block_style = config_style | clean_class %}

  {# Set the logo path. #}
  {% set logo_path = path ~ '/build/dist/images' %}

  {# Set a var if the config width is true from the admin config settings form. #}
  {% if config_width == 1 %}
    {% set  block_width = 'uls-partner--edge-to-edge' %}
  {% endif %}

  {# Add a common library for both styles.. #}
  {{ attach_library('usaid_link_sites/uls_styles') }}

  <div class="uls-partner uls-partner--{{- block_style }} {{ block_width }}"
       id="uls-partner-container">
    <div class="uls-partner__constrain">

      <div class="uls-partner__logo-main-wrap">
        <a href="https://www.usaid.gov/"
           target="_blank"
           id="uls-main-logo-link"
           class="uls-partner__logo-main-link"
           rel="noopener"
           title="{{ 'Go to'|t }} {{ 'USAID'|t }}"
           aria-label="{{ 'Go to'|t }} {{ 'USAID'|t }}">

          {# Main logo image. #}
          <img id="uls-main-logo" class="uls-partner__logo-main uls-partner__logo-main--visible"
               src="/{{- logo_path -}}/main-logos/logo-main--{{ block_style }}.svg"
               alt="{{ 'USAID: from the American people'|t }}"
               width="148"
               height="48"
               loading=lazy
               data-imgpath="/{{- logo_path -}}/main-logos/">
        </a>
      </div>

      <div class="uls-partner__lede">
        <h2>{{ "Explore USAID's LINKS sites for learning and knowledge sharing"|t }}</h2>
      </div>

      <div class="uls-partner__grid">
        {# Loop through the YAML data. #}
        {% for item in config_data %}
          <div class="uls-partner__item uls-partner__item--{{ item.modifier }}">

            <a href="{{ item.url }}"
               class="uls-partner__link"
               target="_blank"
               rel="noopener"
               title="{{ 'Go to'|t }} {{ item.title }}"
               aria-label="{{ 'Go to'|t }} {{ item.title }}"
               data-title="{{- item.title -}}"
               data-description="{{- item.partner_text -}}"
               data-id="logo-id-{{- item.title -}}">

              {# Set the logo src #}
              {% set logo_src = item.logo ~ '.svg' %}

              <img class="uls-partner__media"
                   src="/{{- logo_path -}}/{{- block_style -}}/{{- logo_src -}}"
                   alt="{{ item.title }}"
                   width="{{ item.logo_width }}"
                   height="{{ item.logo_height }}"
                   loading=lazy>
            </a>

            <div class="uls-partner__text">
              <p>{{ item.partner_text }}</p>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
{% endif %}
